
<div style="height:80px; padding-top: 0.5rem;" class="secondbar px-xs-0 px-sm-1 px-md-2 px-lg-4" >
    <div class="filters-and-btns">
        <button class="navbar-filter-btns" id="navbar-filter-left-btn"><i class="fa-regular fa-circle-left"></i></button>
        <div class="filters" id="navbar-filterbar">
            <% if(typeof (filters) != "undefined") {let i=0; for(let filter of filters){ %>
                <div onclick="clicked(this)" class="filter"><i class="fa-solid <%=filter.icon%>"></i><span><%=filter.name%></span></div>
            <% }} %>
        </div>
        <button class="navbar-filter-btns" id="navbar-filter-right-btn"><i class="fa-regular fa-circle-right"></i></button>
    </div>
</div>
