<footer class="col-12 mt-5">
    <div class="row m-0">
        <div class="col-12 p-0 d-flex flex-wrap justify-content-around">
            <div class="p-2 d-flex flex-column justify-content-center align-items-center">
                <b>Support</b>
                <a href="NOTFOUND">Help Centre</a>
                <a href="NOTFOUND">Disability support</a>
                <a href="NOTFOUND">Report concern</a>
                
            </div>
            <div class="p-2 d-flex flex-column justify-content-center align-items-center">
                <b>Hosting</b>
                <a href="/listings/add">Create Rental</a>
                <a href="NOTFOUND">Community forum</a>
                <a href="NOTFOUND">Hosting responsibly</a>
            </div>
            <div class="p-2 d-flex flex-column justify-content-center align-items-center"> 
                <b>WanderLust</b>
                <a href="NOTFOUND">New features</a>
                <a href="NOTFOUND">Investors</a>
                <a href="NOTFOUND">Emergency stays</a>
            </div>
        </div>
        <div class="pt-5 col-12 flex-wrap d-flex justify-content-center justify-content-lg-between align-items-center">
            <div class="ms-0 ms-sm-3">
                <span>&copy; 2024 WanderLust, Inc.</span>
                <a href="NOTFOUND" class="mx-1" >Privacy</a>
                <a href="NOTFOUND" class="mx-1" >Terms</a>
                <a href="NOTFOUND" class="mx-1" >Sitemap</a>
                <a href="NOTFOUND" class="mx-1" >Company&nbsp;details</a>
            </div>
            <div class="py-2 px-4 me-0 me-sm-3">
                <div style="display: flex;">
                    <a class="me-2" href="NOTFOUND" style="font-size: large;">
                        <i class="fa-brands fa-square-instagram"></i>
                    </a>
                    <a class="me-2" href="NOTFOUND" style="font-size: large;">
                        <i class="fa-brands fa-square-facebook" ></i>
                    </a>
                    <a class="me-2" href="NOTFOUND" style="font-size: large;">
                        <i class="fa-brands fa-square-x-twitter" ></i>
                    </a>
                </div> 
            </div>
        </div>
    </div>
</footer>