<footer>
    <div class="row">
        <div class="privacy my-1 col-12 col-md-6">
            <span>&copy; 2024 WanderLust, Inc.</span>
            <a href="#" class="mx-1" >Privacy</a>
            <a href="#" class="mx-1" >Terms</a>
            <a href="#" class="mx-1" >Sitemap</a>
            <a href="#" class="mx-1" >Company&nbsp;details</a>
        </div>
        <div class="lang my-1 col-12 col-md-3">
            <a class="mx-2" href="#">
                <i class="fa-solid fa-earth-americas"></i>
                <span>English(IN)</span>
            </a>
            <a class="mx-2" href="#">
                <i class="fa-solid fa-indian-rupee-sign"></i>
                <span>INR</span>
            </a>
        </div>
        <div class="socials my-1 col-12 col-md-3">
            <a class="me-1" href="#">
                <i class="fa-brands fa-square-instagram"></i>
            </a>
            <a class="me-1" href="#">
                <i class="fa-brands fa-square-facebook"></i>
            </a>
            <a class="me-1" href="#">
                <i class="fa-brands fa-square-x-twitter"></i>
            </a>
        </div> 
    </div>
</footer>