<% layout('/layouts/boilerplate') -%>
<body>
    <div class="mt-5">
        <h5>Sign up</h5>
        <form class="mt-3 row needs-validation" novalidate method="post" action="/signup">
            <div class="mb-3 col-12 col-md-9">
                <label class="form-label" for="user">Username</label>
                <input id="user" type="text" class="form-control" name="user[username]" placeholder="username" required/>
                <div class="invalid-feedback">
                    Invalid Username.
                </div>
            </div>
            <div class="mb-3 col-12 col-md-9">
                <label class="form-label" for="email">Email</label>
                <input id="email" type="email" class="form-control" name="user[email]" placeholder="Email" required/>
                <div class="invalid-feedback">
                    Invalid Email.
                </div>
            </div>
            <div class="mb-3 col-12 col-md-9">
                <label class="form-label" for="pass">Password</label>
                <input id="pass" type="password" class="form-control" name="user[password]" placeholder="Password" required/>
                <div class="invalid-feedback">
                    Invalid Password.
                </div>
            </div>
            <div class="col-12"></div>
            <button class="col-3 col-md-2 col-lg-1 my-3 btn btn-red">Submit</button>
        </form>
    </div>
</body>
